@import url('https://fonts.googleapis.com/css?family=Poppins:500|Ma+Shan+Zheng&display=swap');

body {
    margin: 0;
}

h2 a{
    text-decoration:none;
    color:white;
    background-color: #3586ff;
    border-radius: 5px;
    padding:20px;
    z-index: 1;
}

.hidden { display: none; }

.grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;
    grid-template-areas: 
    "left right"
}

section.left {
    grid-area: "left";
    /*background-color: #3586ff;*/
    font-family: 'Ma Shan Zheng', cursive;
    color: white;
}

section.left h2 {
    font-size: 6em;
    position: relative;
    top: 250px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}

#loginSection {margin-top: 200px;}
#regSection {margin-top: 160px;}

#loginForm { margin-top: 40px; }
#regForm { margin-top: 50px; }

section.right {
    grid-area: "right";
    background-color: white;
}

.logo {position: relative; top: 10px; left: 40%; right: 40%;}

img.logo {
    width: 100px;
    height: 70px;
}

li.logo .name { 
    color: white; font-size: 26px;
    position: relative;
    left: -135px; top:10px;
    font-family: 'Poppins', sans-serif;
}

.box-container {
    position: relative;
    left:10%;
    max-width: 35vw;
    border:2px solid black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 200px auto;
}

.box-container:hover {
    border:2px solid #3586ff;
}

.box-container input {
    display: block;
    padding:10px;
    width: 70%;
    border-radius: 4px;
    background: white;
    margin:20px auto;
}

.box-container input:focus {
    border:2px solid #3586ff;
}

.link-text { position: relative; left: 15%; top: 25px;}

input[type="submit"] {
    -webkit-appearance: none;
    width:100px;
    height: 50px;
    background: #3599ff;
    color: white;
    font-size:20px;
    position: relative;
    left: 25%;
    top:-30px;
    font-family: 'Poppins',sans-serif;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type="submit"]:hover {
    background-color: #3586ff;
}

/* Errors: Modal Box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* iPad Pro */
@media (max-width:1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }

    section.left{display: none;}

    #loginForm, #regForm {margin-top: 50px;}

    #loginSection {margin: 400px 0px 0px 50px;}
    #regSection {margin: 400px 0px 0px 50px;}
    
    .box-container{
        max-width:70vw;
    }
    
    .box-container input { 
        padding: 6px; 
        font-size: 22px; 
        height: 30px;
    }

    .logo {
        position: relative;
        top: 10px;
        left: 40%;
        height: 150px;
        width: 170px;
    }

    .link-text { position: relative; left: 110px; top: 0px; font-size: 22px;}
    
    input[type=submit] { 
        position: relative; 
        left: 190px; 
        top:-5px;
        width: 100px; 
        height: 60px;
        font-size: 20px;
        padding-top: 5px;
    }
}

/* iPad */
@media (max-width:768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }
    section.left{display: none;}

    #loginForm, #regForm {margin-top: 40px;}

    #loginSection, #regSection {margin: 20% 0px 0px 40px;}

    .logo {
        position: relative;
        left: 35%;
        height: 130px;
        width: 150px;
    }

    .box-container{
        max-width: 70vw;
    }
    
    .box-container input { padding: 6px; font-size: 22px; height: 30px;}

    /*.logo {position: relative; top: 20px; left: 210px;}*/
    /*.logo {position: relative; top: 10px; left: 40%; right: 70%;}*/

    .link-text { position: relative; left: 80px; top: 0px;}
    
    input[type=submit] { 
        position: relative; 
        left: 100px; 
        top:-5px;
        width: 100px; 
        height: 60px;
        font-size: 20px;
        padding-top: 5px;
    }
}

/* Mobile First */
@media (max-width:568px) 
{
    section.left{display: none;}
    .box-container{ max-width: 70vw; }
    #loginForm, #regForm {margin-top: 40px;}
    #loginSection {margin: 40% 0px 0px 20px;}
    #regSection {margin: 30% 0px 0px 20px;}
    .box-container input { padding: 5px; font-size: 14px; height: 20px;}
    .logo {
        position: relative; 
        top: 10px; 
        left: 35%; 
        right: 25%;
        width: 90px;
        height: 90px;
    }
    .link-text { position: relative; left: 60px; top: 0px; font-size: 14px;}
    input[type=submit] {
        position: relative; 
        left: 90px;
        width: 80px; 
        height: 50px;
        font-size: 14px;
        padding-top: 5px;
    }
}

@media (max-width:468px) {
    #loginSection {margin: 30% 0px 0px 20px;}
    #regSection {margin: 20% 0px 0px 20px;}
    input[type=submit] {
        position: relative;
        left:25%;
        height: 50px;
        font-size: 14px;
        padding-top: 5px;
    }
}

@media (max-width:350px) {
    .logo {
        position: relative; 
        left: 30%; 
    }
    input[type=submit] {
        position: relative;
        left:25%;
        height: 40px;
        width: 70px;
        font-size: 14px;
        padding-top: 5px;
    }
    .link-text { position: relative; left: 30px; font-size: 13px;}
}