@import url('https://fonts.googleapis.com/css?family=Poppins:500|Ma+Shan+Zheng&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-size:20px;
    background-color: #fefefe;
}

#logo {
    position: absolute;
    top:80px;
    margin-left:42%;
    width: 200px;
    height:150px;
}

a:link, a:visited, a:hover {color:black;}

#main{
    width: 100%;
    height: 98vh;
    background: #3586ff;
    overflow: hidden;
    z-index: 100;
}

#main h2{
    color: white; font-size:9em;
    text-align: center; margin-top:30vh;
    letter-spacing: -1px; font-weight: 100;
    font-family: 'Ma Shan Zheng', cursive;
}

#searchbtn { 
    background: white;
    border: white solid 0px;
    border-radius: 5px;
    padding:10px;
    margin-left:50vw;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
}

.up-icon {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 99;
}

#searchbtn a { text-decoration: none;}

.section-head-hide {display: none;}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('/img/wave.png');
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave2 {
    animation: animate2 30s linear infinite;
    z-index: 999;
    opacity: 0.7;
    animation-delay: -15s;
    bottom: 10px;
}

@keyframes animate2 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

section .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -45s;
    bottom: 20px;
}

@keyframes animate3 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}


input[type=text].search {
    width: 90px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    transition: width 0.4s ease-in-out;
    margin: 15px 0 0 11%;
}

input[type=text].search:focus {
    width: 78%;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    padding: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#searchBy {
    margin-top: 90px;
}

h2{
    margin-left: 10%;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

h2.hidden { display: none;}

.hr-head {
    width: 80%;
    margin:auto;
    margin-bottom: 5px;
}

.hr-full { width: 100%; }

.searchby-img{
    height: 200px;
    max-width: 280px;
}

.searchby-item-title{
    display: block;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.item:hover {
    border: 4px solid #3586ff;
    border-radius: 4px;
}

/*------------- Footer Navigation -------------*/

nav {background: #3586ff;}

nav ul li {list-style: none;}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}


.container li.devs{
    flex: 3;
    text-align: center;
}

.container li.devs strong{
    color: white;
    font-size: 22px;
    border-top-color: white;
}

.social-icon {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    #logo {
        margin-left: 33%;
        width:130px;
        height: 100px;
    }
    #main {height:88vh;}
    #main h2 {
        font-size: 5em;letter-spacing: 2px;
    }
    #searchbtn {
        display: block;
        margin:auto;
        margin-top: 20px;
    }
    .grid-container {
        display: block;
        grid-template-columns: '2fr 2fr 2fr';
        padding:5px;
    }
    .searchby-img{ height: 140px; max-width: 220px;}
    .container li.devs{font-size: 18px;}
    .container li.devs strong{
        font-size: 22px; font-family: 'Poppins', sans-serif;
    }
}
