@import url('https://fonts.googleapis.com/css?family=Poppins:500|Ma+Shan+Zheng&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover {color:black;}

#main{
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
}


#main h2{
    color: white; font-size:9em;
    text-align: center; margin-top:30vh;
    letter-spacing: -1px; font-weight: 100;
    font-family: 'Ma Shan Zheng', cursive;
}

#t-note {
    width: 10%; height: 115px;
    margin-left: -3%; margin-right: -4.1%;
}

#searchbtn { 
    background: white;
    border: white solid 0px;
    border-radius: 5px;
    padding:10px;
    margin-left:50vw;
    font-weight: 500;
    font-size: 20px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

#searchbtn a { text-decoration: none;}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('/img/wave.png');
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave2 {
    animation: animate2 30s linear infinite;
    z-index: 999;
    opacity: 0.7;
    animation-delay: -15s;
    bottom: 10px;
}

@keyframes animate2 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

section .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -45s;
    bottom: 20px;
}

@keyframes animate3 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    padding: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#searchBy {
    margin-top: 150px;
}

#searchBy h2{
    margin-left: 10%;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.hr-head {
    width: 80%;
    margin:auto;
    margin-bottom: 5px;
}

#searchby-img1, #searchby-img2, #searchby-img3{
    height: 200px;
    max-width: 280px;
}

.searchby-item-title, .searchby-item-title, .searchby-item-title{
    display: block;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.item:hover {
    border: 2px solid #3586ff;
}

/* Smartphones */
@media (max-width:768px){
    #main h2{
        font-size: 7em;letter-spacing: 2px;
    }
    #t-note { 
        height: 90px; width:120px;
        margin-left:-35px;
        margin-right: -48px;
    }
    #searchbtn {
        display: block;
        margin:auto;
        margin-top: 20px;
    }
    .grid-container {
        display: block;
        grid-template-columns: 2fr 2fr 2fr;
        padding:5px;
    }
    #searchBy { margin-top: 0;}
}

/* Tablets */
@media (min-width:668px) and (max-width:1024px){
    #searchbtn {
        display: block;
        margin-left:50%;
        margin-top: 10px;
    }
    #searchBy { margin-top: 10px;}
}