@import url('https://fonts.googleapis.com/css?family=Poppins:500|Ma+Shan+Zheng&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
}

.login-icon {
    position: fixed;
    right: 10px;
    bottom: 150px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
}

.go-up-icon {
    position: fixed;
    right: 10px;
    bottom: 110px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    z-index: -1;
}

canvas, #logo {
    position: absolute;
    top:15%;
    margin-left:47%;
    width: 100px;
    height:100px;
}

a:link, a:visited, a:hover {color:black;}

#main{
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
    z-index: 100;
}

section h1{
    color: white; 
    font-size:8em;
    text-align: center; 
    margin-top:30vh;
    letter-spacing: -1px; 
    font-weight: 100;
    font-family: 'Ma Shan Zheng', cursive;
    margin-left:auto;
}

#searchbtn { 
    background: white;
    border: white solid 0px;
    border-radius: 5px;
    padding:10px;
    margin-left:48vw;
    font-weight: 500;
    font-size: 20px;
    width: 180px;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
}

#searchbtn a { text-decoration: none;}

.up-icon {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 99;
}

section .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url('/img/wave.png');
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

section .wave.wave2 {
    animation: animate2 30s linear infinite;
    z-index: 99;
    opacity: 0.7;
    animation-delay: -15s;
    bottom: 10px;
}

@keyframes animate2 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

section .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -45s;
    bottom: 20px;
}

@keyframes animate3 
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}

/* Section 2 Starts from here */

section > h2 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top:50px;
    grid-gap: 20px;
    grid-auto-rows: auto;
}

.item{
    place-self: center;
    padding: 20px 10px;
}

.item:hover {
    background-color: lightgoldenrodyellow;
    border-radius: 4px;
}

.grid-title {
    grid-area: 1 / 2 / span 1 / span 3;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 6px;
}

.grid-item1 {
    grid-area: 2 / 2 / span 1 / span 1;
}
.grid-item2 {
    grid-area: 2 / 3 / span 1 / span 1;
}
.grid-item3 {
    grid-area: 2 / 4 / span 1 / span 1;
}

.grid-item-img{
    height: 180px;
    max-width: 200px;
}

.item-title{
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Footer starts from here */

footer {
    width: 100%;
    height: 70px;
    margin-top: 50px;
    background-color: #3586ff;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    align-self: center;
    color: white;
}

.social-links {
    padding: 0px 10px;
    align-self: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius:4px;
}

@media(max-width:1024px){
    canvas, #logo {
        position: absolute;
        top: 15%;
        left: 5%;
        margin-left:40%;
        width: 100px;
        height:100px;
    }
    section h1 {
        position: relative;
        top: 0%;
        font-size: 6em; 
        letter-spacing: 2px;
        text-align: center;
    }
    #searchbtn {
        position: relative;
        top:0px;
    }
    footer {
        height: 100px;
    }
}

@media(max-width:768px)
{
    .grid-container{
        display: grid;
        grid-template-columns: 10px 1fr 10px;
    }
    .grid-title, .item{
        padding: 20px 0px;
    }
    .grid-item1 {
        grid-area: 2 / 2 / span 1 / span 1;
    }
    .grid-item2 {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    .grid-item3 {
        grid-area: 4 / 2 / span 1 / span 1;
    }
    
    canvas, #logo {
        position: absolute;
        top: 15%;
        left: 5%;
        margin-left:40%;
        width: 100px;
        height:100px;
    }    
    section h1 {
        position: relative;
        top:10px;
    }
    #searchbtn {
        position: relative;
        top:10px;
    }
    .flex-item {
        font-size: 18px;
    }
    .social-icon {
        height: 30px;
        width: 30px;
    }
}

@media(max-width:468px)
{
    canvas, #logo {
        position: absolute;
        top: 15%;
        left: 4%;
        margin-left:35%;
        width: 80px;
        height:80px;
    }
    section h1 {
        font-size: 4rem;
    }
    #searchbtn {
        top: 30px;
        left: -80px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 10px 1fr 10px;
    }
    .grid-item1 {
        grid-area: 2 / 2 / span 1 / span 1;
    }
    .grid-item2 {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    .grid-item3 {
        grid-area: 4 / 2 / span 1 / span 1;
    }
    .flex-container {
        flex-direction: column;
        height: 150px;
    }
    .flex-item {
        padding-top: 15px;
    }
}